<div class="content bg-dark p-3">
  <h2 class="formtitle">{{glava.naslov}}</h2>
  <br/>
  <form (submit)="posiljanjePodatkov()" id="forma">
    <div class="form-row col-md-12">
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">E-POŠTA <em class="required">*</em></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Vnesi email" required [(ngModel)]="prijavniPodatki.ePosta" name="ePosta" autocomplete="on"
               pattern="[a-z]{2}[0-9]{4}@student.uni-lj.si"
               title="Vnesi e-poštni naslov, ki si ga prejel s strani Univerze v Ljubljani. Primer: jn0000@student.uni-lj.si"
               [disabled]="!jePovezava()">
        <small id="emailHelp" class="form-text text-muted" *ngIf="jePovezava()">Še nisi registriran? Registriraj se <a
          routerLink="/registracija" [disabled]="!jePovezava()">tu</a>.</small>
      </div>
      <br/>
      <div class="form-group col-md-6">
        <label for="exampleInputPassword1">GESLO <em class="required">*</em></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Geslo" name="trenutnoGeslo"
               [(ngModel)]="prijavniPodatki.geslo" [disabled]="!jePovezava()" required>
        <small id="emailHelp" class="form-text text-muted" *ngIf="jePovezava()">Pozabljeno geslo? Obnoviš ga lahko na <a
          routerLink="/obnoviGeslo" [disabled]="!jePovezava()">naslednji povezavi</a>.</small>
      </div>
    </div>
    <div class="form-group col-md-12">
      <!--<div class="form-check col-md-6">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="prijavljen">
          <label class="form-check-label" for="exampleCheck1">Ostani prijavljen</label>
      </div>-->
      <br/>
      <button type="submit" id="submit" class="btn btn-primary " [disabled]="!jePovezava()">Prijavi se</button>
    </div>
    <br>
    <div class="alert alert-info fade show col-md-12" *ngIf="!jePovezava()"  role="alert">
      Ni povezave z internetom!
    </div>
    <div class="alert alert-danger fade show col-md-12" *ngIf="napakaNaObrazcu" role="alert">
      <strong id="danger-strong">{{ napaka }}</strong><span id="danger-navadno">{{ napakaNaObrazcu }}</span>
    </div>
    <div class="alert alert-success  fade show col-md-12" *ngIf="uspesnoObvestilo" role="alert">
      <strong id="success-strong">Prijava uspešna!</strong><span id="success-navadno"></span>
    </div>
  </form>
</div>
