<div class="content bg-dark p-3">
  <h2 class="formtitle">Statistike</h2>
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert" *ngIf="sporocilo" >
      {{sporocilo}}
    </div>
    <div id="grafikoni" *ngIf="!sporocilo">
      <h3 class="formtitle">Razporejenost uporabnikov po krajih</h3>
      <canvas id="graf1" width="auto" height="auto" baseChart *ngIf="!sporocilo"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend"></canvas>
    </div>
  </div>
</div>
