<div class="content bg-dark" *ngIf="predmet; else niPredmeta">
  <div class = "p-3">
    
    <p class="h1 p-3">{{predmet.ime}}</p>
    
    <a *ngIf="jeAdmin" (click)="openModal('update', predmet)">
      <button class="btn btn-secondary ml-3">Uredi
        <i class="fa fa-edit d-inline p-3"></i>    
      </button>
    </a>

    <!--vsebina-->
    <div class="content bg-darkerBg p-3 my-3">
      <p class="h4">Vsebina</p>
      <p class="mt-3 ml-1">{{predmet.opis}}</p>
      <div>
        <a *ngFor="let profesor of predmet.profesorji" class="btn btn-profesor rounded m-1" (click)="openOsebje(profesor._id)">Profesor | {{profesor.ime_priimek}}<i class="fas fa-external-link-alt ml-2"></i></a>
        <a *ngFor="let asistent of predmet.asistenti" class="btn btn-asistent rounded m-1" (click)="openOsebje(asistent._id)">Asistent | {{asistent.ime_priimek}}<i class="fas fa-external-link-alt ml-2"></i></a>
        </div>
    </div> 
    <!--dokumenti-->
    <app-predmet-gradiva [(predmet)]="predmet"></app-predmet-gradiva>
  </div>
</div>
<ng-template #niPredmeta>
  <div style="margin-top:10px" class="alert alert-warning" role="alert">
    Nalagam predmet
  </div>
</ng-template>
